.section__container__cards {
  position: relative;
  width: 100%;
  top: 150px;
  display: flex;
  justify-content: space-evenly;
}

.card {
  height: 220px;
  width: 180px;
  top: 50px;
  border-radius: 10px;
  background: #000;
}

@media (max-width: 680px) {
  .section__container__cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    bottom: 500px;
  }

  .card {
    height: 350px;
    width: 250px;
    margin-top: 20px;
  }
}


